@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;800&display=swap');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
}

::selection {
    background-color: rgba(45, 180, 151, 0.452);
}

.logo {
    width: 80px;
}

header {
    position: fixed;
    z-index: 9999;
    height: 100px;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

header nav {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(10px);
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header ul a {
    text-decoration: none;
    color: #fff;
    padding: 0;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.83rem;
}

header ul a.log {
    padding: 1.5rem;
}

.search {
    font-size: 1.05rem;
    padding: 0 3rem;
}

.hamburger {
    padding-left: 1.5rem;
}

.hamburger a {
    width: 37px;
    height: 37px;
    display: flex;
    border-radius: 50%;
    background-color: rgba(115, 115, 115, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}

.hamburger .bar {
    position: relative;
    width: 52%;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
}

.hamburger .bar::before,
.hamburger .bar::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 100%;
    background-color: inherit;
    border-radius: 2px;
}

.hamburger .bar::before {
    top: -5.5px;
}

.hamburger .bar::after {
    top: 4.5px;
}

#chargement {
    display: none;
}

main {
    position: relative;
    width: 100vw;
    padding-bottom: 56.25%;
    overflow: hidden;
}

.ciel-noir {
    position: absolute;
    width: 117.18%;
    top: 22.223%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lune {
    position: absolute;
    width: 58.59%;
    top: 22.223%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nuage {
    opacity: 0.5;
    z-index: 2;
    position: absolute;
    width: 31.25%;
    top: 25.7%;
    left: 42.19%;
    transform: translate(-50%, -50%);
}

.nuage2 {
    position: absolute;
    width: 23.43%;
    top: 22.223%;
    left: 89.06%;
    transform: translate(-50%, -50%);
}

.building1 {
    position: absolute;
    width: 5.86%;
    top: 39.59%;
    left: 70.31%;
    transform: translate(-50%, -50%);
}

.nuage2reverse {
    position: absolute;
    width: 19.53%;
    top: 18.75%;
    left: 7.03%;
    transform: translate(-50%, -50%);
}

.building2 {
    position: absolute;
    width: 5.86%;
    top: 56.94%;
    left: 53.125%;
    transform: translate(-50%, -50%);
}

.building3 {
    z-index: 2;
    position: absolute;
    width: 7.81%;
    top: calc(50%);
    left: 45.31%;
    transform: translate(-50%, -50%);
}

.building7 {
    position: absolute;
    width: 3.9%;
    top: 56.94%;
    left: 92.97%;
    transform: translate(-50%, -50%);
}

.nuage-à-l-envers {
    z-index: 2;
    position: absolute;
    width: 140.62%;
    top: 63.89%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.building6 {
    position: absolute;
    width: 4.69%;
    top: 50%;
    left: 8.99%;
    transform: translate(-50%, -50%);
}

.bg-img {
    z-index: 2;
    position: absolute;
    width: 102.34%;
    top: 70.14%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.building4 {
    z-index: 5;
    position: absolute;
    width: 16.41%;
    top: 79.50%;
    left: 6.25%;
    transform: translate(-50%, -50%);
}

.building5 {
    z-index: 2;
    position: absolute;
    width: 9.37%;
    top: 61.11%;
    left: 14.45%;
    transform: translate(-50%, -50%);
}

.building8 {
    z-index: 4;
    position: absolute;
    width: 11.72%;
    top: 67.64%;
    left: 83.20%;
    transform: translate(-50%, -50%);
}

.building9 {
    z-index: 3;
    position: absolute;
    width: 7.81%;
    top: 62.5%;
    left: 7.03%;
    transform: translate(-50%, -50%);
}

.eau {
    z-index: 4;
    position: absolute;
    width: 152.34%;
    top: 88.89%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.brouillard {
    z-index: 3;
    position: absolute;
    width: 30%;
    opacity: 0.4;
    top: 60%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.brouillard2 {
    z-index: 2;
    position: absolute;
    width: 23.44%;
    opacity: 0.5;
    top: 65.36%;
    left: 12%;
    transform: translate(-50%, -50%);
}

.pont {
    z-index: 5;
    position: absolute;
    width: 101.56%;
    top: 59.41%;
    left: 44.15%;
    transform: translate(-50%, -50%);
}

.text {
    position: absolute;
    z-index: 4;
    top: 48%;
    left: 36.33%;
    transform: translate(-50%, -50%) rotateZ(0deg) rotateX(5deg) rotateY(60deg);
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.text h2 {
    font-weight: 100;
    font-size: 6.5rem;
    line-height: 0.88;
    transform: translateY(-50px);
    text-shadow: -1px 1px 1px rgb(83, 83, 83), -2px 2px 1px rgb(83, 83, 83), -3px 3px 1px rgb(83, 83, 83), -4px 4px 1px rgb(83, 83, 83), -5px 5px 1px rgb(83, 83, 83), -6px 6px 1px rgb(83, 83, 83), -7px 7px 1px rgb(83, 83, 83);
    animation: appear 1s ease-in-out forwards;
}

.text h1 {
    font-weight: 800;
    font-size: 8rem;
    line-height: 0.88;
    transform: translateY(50px);
    text-shadow: -1px 1px 1px rgb(83, 83, 83), -2px 2px 1px rgb(83, 83, 83), -3px 3px 1px rgb(83, 83, 83), -4px 4px 1px rgb(83, 83, 83), -5px 5px 1px rgb(83, 83, 83), -6px 6px 1px rgb(83, 83, 83), -7px 7px 1px rgb(83, 83, 83);
    animation: appear 1s ease-in-out forwards;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 0.1;
    }

    20% {
        opacity: 0.2;
    }

    30% {
        opacity: 0.3;
    }

    40% {
        opacity: 0.4;
    }

    50% {
        opacity: 0.5;
    }

    60% {
        opacity: 0.6;
    }

    70% {
        opacity: 0.7;
    }

    80% {
        opacity: 0.8;
    }

    90% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}

.parallax {
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: 0.45s cubic-bezier(.2, .49, .32, .99);
}

/* RESPONSIVE */

@keyframes touchScreen {
    0% {
        display: block;
        opacity: 0;
    }

    25% {
        opacity: 0.0;
    }

    30% {
        opacity: 1;
    }

    45% {
        opacity: 0.2;
    }

    60% {
        opacity: 1;
    }

    75% {
        opacity: 0.2;
    }

    90% {
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

@media (max-width: 2000px) {
    .text {
        top: 47%;
        left: 38%;
    }

    .text h2 {
        font-size: 4.8rem;
        transform: translateY(-25px);
    }

    .text h1 {
        font-size: 6rem;
    }
}

@media (max-width: 1600px) {
    .text {
        top: 45%;
        left: 34%;
    }

    .text h2 {
        font-size: 4.1rem;
        transform: translateY(-10px);
    }

    .text h1 {
        font-size: 5rem;
    }
}

@media (max-width: 1299px) {
    .touch {
        display: none;
        z-index: 10;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
        animation: touchScreen 7s;
    }

    .text {
        top: 44%;
    }

    .text h2 {
        font-size: 3.25rem;
        transform: translateY(-5px);
    }

    .text h1 {
        font-size: 4rem;
    }

    .logo {
        width: 60px;
    }

    header {
        height: 80px;
    }

    header ul a {
        font-size: 0.73rem;
    }
}


@media (max-width: 1100px) {
    .text {
        top: 43%;
        left: 35%;
    }

    .text h2 {
        font-size: 2.5rem;
        transform: translateY(+10px);
    }

    .text h1 {
        font-size: 3rem;
    }
}

@media (max-width: 900px) {
    .text {
        top: 41%;
        left: 35%;
    }

    .text h2 {
        font-size: 2rem;
        transform: translateY(+10px);
    }

    .text h1 {
        font-size: 2.5rem;
    }

    .logo {
        width: 30px;
    }

    header {
        height: 50px;
    }

    header ul a {
        margin: -10px;
    }
}

@media (max-width: 725px) {
    .text {
        top: 39%;
        left: 35%;
    }

    .text h2 {
        font-size: 1.62rem;
        transform: translateY(+25px);
    }

    .text h1 {
        font-size: 2rem;
    }
}

@media (max-width: 625px) {
    .text {
        top: 36%;
        left: 35%;
    }

    .text h2 {
        font-size: 1.22rem;
        transform: translateY(+30px);
    }

    .text h1 {
        font-size: 1.5rem;
    }
}

@media (max-width: 520px) {
    main {
        max-width: 520px;
        transform: scale(4);
        transform-origin: 50% 15%;
        overflow: hidden;
    }

    .container {
        overflow-x: hidden;
        height: 100vh;
    }

    .touch{
        display: block;
        opacity: 0;
        top: 70%;
        width: 10px;
    }

    .text {
        top: 37%;
        left: 47%;

    }

    .text h2 {
        position: absolute;
        top: center;
        left: center;
        font-size: 0.8rem;
        font-weight: 300;
        transform: translateY(+30px) translateX(-20px);
        text-shadow: -1px 1px 1px rgb(83, 83, 83);
    }

    .text h1 {
        font-size: 1rem;
        text-shadow: -1px 1px 1px rgb(83, 83, 83);
    }

    .parallax {
        transition: 0.5s ease-in-out;
    }

    header ul a {
        padding: 0;
        font-size: 0.53rem;
    }
}

@media (max-width: 450px) {
    .text {
        top: 34%;
    }

    header ul a {
        margin: -15px;
    }
}

@media (max-width: 370px) {
    .text {
        top: 32%;
    }

    header ul a {
        margin: -18px;
        display: none;
    }

    .logo {
        width: 30px;
    }

    header {
        border-bottom: none;
    }
}